.dash-card {
  padding: 15px;
  display: flex;
  justify-content: space-between;
}

.chart-card {
  padding: 15px;
  height: 250px;
}

.center-text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: #aaa;
}

.calendar-card {
  padding: 15px;
  height: 250px;
}


